<!DOCTYPE html>
<html>
    <head>
        <title>Credit Score Prediction</title>
    </head>
    <body>
        <h1>Credit Score Prediction</h1>
        <form method="post" action="/predict">
            <label>Username</label><br>
            <input type="text" name="username" required><br><br>
            <input type="submit" value="Predict"><br><br>
        </form>
        
        {% if result is not none %}
            <p>Your Credit Score: {{ result }}</p>
        {% endif %}
        
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
</html>
